<div class="lg:mt-3 p-4 lg:ml-16 lg:mr-16 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://madee.my.id" class="hover:underline">MadeeBlog</a>
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
  <li>
  <a href="/see/popular" class="mr-4 hover:underline md:mr-6 ">Popular</a>
  </li>
  <li>
  <a href="/see/category" class="mr-4 hover:underline md:mr-6">Category</a>
  </li>
  <li>
  <a href="https://github.com/Madeean" class="hover:underline">Contact</a>
  </li>
  </ul>
</div>

<footer>
  <div class="footer_top">
      <div class="footer_bg">
          <div class="footer_bg_one"></div>
          <div class="footer_bg_two"></div>
          <div class="footer_bg_three"></div>
      </div>
  </div>
</footer>
  

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>