<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/see/category">Category</a></li>
          <li><a href="/see/popular">Popular</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl" href="/">MadeeBlog</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/see/category">Category</a></li>
        <li><a href="/see/popular">Popular</a></li>
        <li>
            <div class="form-control">
              <div class="input-group">
                <form action="/search" method="get">
                  <input type="text" placeholder="Search" class="input input-bordered" name="search">
                  <button class="btn btn-square" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                  </button>
                </form>
              </div>
            </div>
        </li>
      </ul>
    </div>
    <%if(session == undefined || session == null ){%>
    <div class="navbar-end">
      <a class="btn" href="/login">Login</a>
    </div>
    <%}else{%>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <img src="/images/profile.jpg" alt="" class="w-12 rounded-full cursor-pointer" tabindex="0">
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a class="btn btn-accent mb-2" href="/dashboard">Dashboard</a></li>
          <li><a class="btn btn-info" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <%}%>
</div>