<%- include ('../dashboard_partials/header') %>

<div class="p-10">
    <div class="grid grid-cols-3 gap-4">
        <div class="card w-80 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="flex justify-between">
                    <div>
                        <h2 class="card-title">Artikel</h2>
                    </div>
                    <div>
                        <i class="far fa-newspaper text-3xl"></i>
                    </div>
                </div>
              <div class="text-center mt-10">
                <h1 class="text-3xl font-semibold"><%=artikel%></h1>
              </div>
            </div>
        </div>
        <div class="card w-80 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="flex justify-between">
                    <div>
                        <h2 class="card-title">Pembaca</h2>
                    </div>
                    <div>
                        <i class="fas fa-book-reader text-3xl"></i>
                    </div>
                </div>
              <div class="text-center mt-10">
                <h1 class="text-3xl font-semibold">100</h1>
              </div>
            </div>
        </div>
        <div class="card w-80 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="flex justify-between">
                    <div>
                        <h2 class="card-title">Like</h2>
                    </div>
                    <div>
                        <i class="far fa-heart text-3xl"></i>
                    </div>
                </div>
              <div class="text-center mt-10">
                <h1 class="text-3xl font-semibold">10</h1>
              </div>
            </div>
        </div>
    </div>
</div>




<%- include ('../dashboard_partials/footer') %>