@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

.dataTables_wrapper select,
		.dataTables_wrapper .dataTables_filter input {
			color: #4a5568;
			/*text-gray-700*/
			padding-left: 1rem;
			/*pl-4*/
			padding-right: 1rem;
			/*pl-4*/
			padding-top: .5rem;
			/*pl-2*/
			padding-bottom: .5rem;
			/*pl-2*/
			line-height: 1.25;
			/*leading-tight*/
			border-width: 2px;
			/*border-2*/
			border-radius: .25rem;
			border-color: #edf2f7;
			/*border-gray-200*/
			background-color: #edf2f7;
			/*bg-gray-200*/
		}

		/*Row Hover*/
		table.dataTable.hover tbody tr:hover,
		table.dataTable.display tbody tr:hover {
			background-color: #ebf4ff;
			/*bg-indigo-100*/
		}

		/*Pagination Buttons*/
		.dataTables_wrapper .dataTables_paginate .paginate_button {
			font-weight: 700;
			/*font-bold*/
			border-radius: .25rem;
			/*rounded*/
			border: 1px solid transparent;
			/*border border-transparent*/
		}

		/*Pagination Buttons - Current selected */
		.dataTables_wrapper .dataTables_paginate .paginate_button.current {
			color: #fff !important;
			/*text-white*/
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
			/*shadow*/
			font-weight: 700;
			/*font-bold*/
			border-radius: .25rem;
			/*rounded*/
			background: #93a6f7 !important;
			/*bg-indigo-500*/
			border: 1px solid transparent;
			/*border border-transparent*/
		}

		/*Pagination Buttons - Hover */
		.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
			color: #fff !important;
			/*text-white*/
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
			/*shadow*/
			font-weight: 700;
			/*font-bold*/
			border-radius: .25rem;
			/*rounded*/
			background: #93a6f7 !important;
			/*bg-indigo-500*/
			border: 1px solid transparent;
			/*border border-transparent*/
		}

		/*Add padding to bottom border */
		table.dataTable.no-footer {
			border-bottom: 1px solid #e2e8f0;
			/*border-b-1 border-gray-300*/
			margin-top: 0.75em;
			margin-bottom: 0.75em;
		}

		/*Change colour of responsive icon*/
		table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
		table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
			background-color: #93a6f7 !important;
			/*bg-indigo-500*/
		}


.img_landing{
	width: 400px;
}

.slide{
	height: 500px;
}

.sticky_image{
	width: 400px;
	height: 225px;
}

.footer_top {
	padding: 120px 0px 200px;
	position: relative;
	overflow-x: hidden;
	margin-bottom: 15px;
}
.footer_top .footer_bg {
	position: absolute;
	bottom: 0;
	background: url("../images/footer_bg.png") no-repeat scroll center 0;
	width: 100%;
	height: 266px;
  }
  
  .footer_top .footer_bg .footer_bg_one {
	background: url("../images/volks.gif") no-repeat center center;
	width: 330px;
	height: 70px;
	background-size:100%;
	position: absolute;
	bottom: 0;
	left: 30%;
	-webkit-animation: myfirst 22s linear infinite;
	animation: myfirst 22s linear infinite;
	z-index: 3;
  }
  
  .footer_top .footer_bg .footer_bg_two {
	background: url("../images/cyclist.gif") no-repeat center center;
	width: 88px;
	height: 100px;
	background-size:100%;
	bottom: 0;
	left: 38%;
	position: absolute;
	-webkit-animation: myfirst 30s linear infinite;
	animation: myfirst 30s linear infinite;
	z-index: 2;
  }
  .footer_top .footer_bg .footer_bg_three {
	background: url("../images/truck-unscreen.gif") no-repeat center center;
	width: 230px;
	height: 120px;
	background-size:100%;
	bottom: 0;
	left: 38%;
	position: absolute;
	-webkit-animation: myfirst 38s linear infinite;
	animation: myfirst 38s linear infinite;
	z-index: 1;
  }
  
  
  
  @-moz-keyframes myfirst {
	0% {
	  left: -25%;
	}
	100% {
	  left: 100%;
	}
  }
  
  @-webkit-keyframes myfirst {
	0% {
	  left: -25%;
	}
	100% {
	  left: 100%;
	}
  }
  
  @keyframes myfirst {
	0% {
	  left: -25%;
	}
	100% {
	  left: 100%;
	}
  }