        </main>
    </div>
</div>
<script>
document.addEventListener('trix-file-accept',function(e){
    e.preventDefault();
})
 
$(document).ready(function(){
    $('#thumbnail').change(function(){
        $("#frames").html('');
        for (var i = 0; i < $(this)[0].files.length; i++) {
            $("#frames").append('<img src="'+window.URL.createObjectURL(this.files[i])+'" width="100px" height="100px"/>');
        }
    });
});



</script>
</body>
</html>